// SCSS Mixin File
// -----------------------------------------------------
// Author: Duncan McMillan

// Modules
//
// Rules for reusable page components.

#trail-points-list {
	position:relative;
	overflow:auto;
	margin-bottom:1rem;
	
	ul {
		position:relative;
		margin:0;
		padding:0;
		
		li.point {
			position:relative;
			padding:.2rem 4rem .2rem 2rem;
			margin:0 0 .2rem 0;
			@include border-radius;
			
			background-color:$panel-colour;
			
			.toolbar {
				display:none;
				position:absolute;
				top:.5rem;
				right:.4rem;
				width:3.6rem;
				height:1.6rem;
			}
			
			&:hover, &:active {
				
				.toolbar {
					display:block;
				}
			}
			
			&:before {
				display:block;
				position:absolute;
				top:.5rem;
				left:.2rem;
				width:1.6rem;
				height:1.6rem;
				
				content:"";
				
				background-image:url(images/icons.svg);
				background-repeat:no-repeat;
				background-size:8rem 3.2rem;
				background-position:-6.4rem 0;
			}
		}
	}
}

.toolbar button {
	float:left;
	width:1.6rem;
	height:1.6rem;
	margin:0 .1rem;
	padding:0;
	
	background-color:transparent;
	background-image:url(images/icons.svg);
	background-repeat:no-repeat;
	background-size:8rem 3.2rem;
	
	border:none;
	font-size:0;
	color:transparent;
	
	&.cancel { background-position:0 0; }
	&.add { background-position:-1.6rem 0; }
	&.edit { background-position:-3.2rem 0; }
	&.delete { background-position:-4.8rem 0; }
	
	&.hidden {
		display:none;
	}
}

form#add-a-point {
	
	input {
		float:left;
		margin:0;
		
		&#input-lat, &#input-lng {
			width:7rem;
			margin-right:.5rem;
		}
		
		&[type="submit"] {
			width:1.6rem;
			height:1.6rem;
			margin-top:.3rem;
			
			font-size:0;
			color:transparent;
			border:none;
			background-color:transparent;
			background-image:url(images/icons.svg);
			background-repeat:no-repeat;
			background-size:8rem 3.2rem;
			background-position:-1.6rem 0;
		}
	}
	
}